In [19]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np


# importamos las librerías que necesitaremos
# Importar librería para trabajar con archivos JSON
# -----------------------------------------------------------------------
import json
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [20]:
#Creamos un 'schema' llamado moviemakers


cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE MovieMakers")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE DATABASE MovieMakers

In [21]:

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='moviemakers')
mycursor = cnx.cursor()


# creamos la películas tabla

try:
    mycursor.execute("""
        CREATE TABLE Peliculas ( 
            Tipo VARCHAR(20), 
            Nombre VARCHAR(100), 
            AnioEstreno INT, 
            MesEstreno VARCHAR(20),
            IdPelicula VARCHAR(20) NOT NULL PRIMARY KEY
        )
    """)
    print("Tabla Peliculas creada con éxito.")
except mysql.connector.Error as err:
    print("Error al crear la tabla Peliculas:", err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

# creamos la películas Peliculas_caracteristicas

try:
    mycursor.execute("""
        CREATE TABLE Peliculas_caracteristicas ( 
            PuntuacionIMDB FLOAT, 
            PuntuacionTomatoes FLOAT, 
            Directores VARCHAR(255), 
            Guionistas VARCHAR(255), 
            Argumento TEXT, 
            Genero VARCHAR(255),
            DuracionMinutos VARCHAR(20), 
            IdPelicula VARCHAR(20) NOT NULL PRIMARY KEY,
            Nombre VARCHAR(20),
            FOREIGN KEY (IdPelicula) REFERENCES Peliculas(IdPelicula)
        )
    """)
    print("Tabla Peliculas_caracteristicas creada con éxito.")
except mysql.connector.Error as err:
    print("Error al crear la tabla Peliculas_caracteristicas:", err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

# creamos la películas Actores

try:
    mycursor.execute("""
        CREATE TABLE Actores ( 
            Nombre VARCHAR(100) PRIMARY KEY,
            AnioNacimiento INT, 
            ConocidoPor VARCHAR(255),
            ActividadActual VARCHAR(100), 
            Premios TEXT
        )
    """)
    print("Tabla Actores creada con éxito.")
except mysql.connector.Error as err:
    print("Error al crear la tabla Actores:", err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)


# creamos la películas Actuaciones que es una tabla intermedia de conexión entre pilículas y actores
try:
    mycursor.execute("""
        CREATE TABLE Actuaciones (
            IdPelicula VARCHAR(20), 
            NombreActor VARCHAR(100), 
            PRIMARY KEY (IdPelicula, NombreActor), 
            FOREIGN KEY (IdPelicula) REFERENCES Peliculas(IdPelicula), 
            FOREIGN KEY (NombreActor) REFERENCES Actores(Nombre)
        )
    """)
    print("Tabla Actuaciones creada con éxito.")
except mysql.connector.Error as err:
    print("Error al crear la tabla Actuaciones:", err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

# creamos la películas Oscars

try:
    mycursor.execute("""
        CREATE TABLE Oscars ( 
            IdOscar INT NOT NULL AUTO_INCREMENT, 
            FechaCeremonia INT, 
            MejorPelicula VARCHAR(100), 
            MejorDirector VARCHAR(100), 
            MejorActor VARCHAR(100), 
            MejorActriz VARCHAR(100),
            PRIMARY KEY (IdOscar)
        )
    """)
    print("Tabla Oscars creada con éxito.")
except mysql.connector.Error as err:
    print("Error al crear la tabla Oscars:", err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

# Cerrar conexión
mycursor.close()
cnx.close()

Tabla Peliculas creada con éxito.
Tabla Peliculas_caracteristicas creada con éxito.
Tabla Actores creada con éxito.
Tabla Actuaciones creada con éxito.
Tabla Oscars creada con éxito.