In [1]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np


# importamos las librerías que necesitaremos
# Importar librería para trabajar con archivos JSON
# -----------------------------------------------------------------------
import json
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

## Insertamos datos tabla Oscars

In [2]:
#leemos el csv

df_oscars = pd.read_csv("CSV_JSON_F4/lista_tuplas_fase4.csv", index_col = 0)

#Hacemos una lista con el nombre de las columnas actuales del data frame
columnas_actuales = df_oscars.columns.tolist()

#Definimos el nombre de las columnas
nuevos_nombres = ['FechaCeremonia', 'MejorPelicula', 'MejorDirector', 'MejorActor', 'MejorActriz']

#Cambiamos el nombre de las columnas por la lista que hemos creado
df_oscars.columns = nuevos_nombres

In [3]:

# Conectar a la base de datos
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='moviemakers')
mycursor = cnx.cursor()



#Iteramos por cada uno de los elementos

for index, row in df_oscars.iterrows():
    sql = """
        INSERT INTO Oscars (FechaCeremonia, MejorPelicula, MejorDirector, MejorActor, MejorActriz) 
        VALUES ( %s, %s, %s, %s, %s)
    """
    values = (row['FechaCeremonia'], row['MejorPelicula'], row['MejorDirector'], row['MejorActor'], row['MejorActriz'])
    
    try:
        mycursor.execute(sql, values)
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

# Confirmar la inserción
cnx.commit()

print(f'Se han insertado los datos correctamente')
# Cerrar conexión
mycursor.close()
cnx.close()

Se han insertado los datos correctamente

## Insertamos datos tabla películas

In [4]:
#leemos el csv

df_peliculas = pd.read_csv("CSV_JSON_F1/resultado_tuplas_total.csv")  #cambiar el nombre del archivo

#Hacemos una lista con el nombre de las columnas actuales del data frame
columnas_actuales = df_peliculas.columns.tolist()

#Definimos el nombre de las columnas
nuevos_nombres = ['Tipo', 'Nombre', 'AnioEstreno', 'MesEstreno', 'IdPelicula']

#Cambiamos el nombre de las columnas por la lista que hemos creado
df_peliculas.columns = nuevos_nombres



#Combertimos en INT las columnas AnioEstreno y MesEstreno porque daba error de NAN Además convertimos el ano y mes en INT

df_peliculas['AnioEstreno'] = df_peliculas['AnioEstreno'].fillna(0).astype(int)
df_peliculas['MesEstreno'] = df_peliculas['MesEstreno'].fillna(0).astype(int)

#Eliminamos duplicados 
df_peliculas = df_peliculas.drop_duplicates()

In [5]:

# Conectar a la base de datos
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='moviemakers')
mycursor = cnx.cursor()



#Iteramos por cada uno de los elementos

for index, row in df_peliculas.iterrows():           
    sql = """
        INSERT INTO Peliculas (Tipo, Nombre, AnioEstreno, MesEstreno, IdPelicula) 
        VALUES ( %s, %s, %s, %s, %s)
    """
    values = (row['Tipo'], row['Nombre'], row['AnioEstreno'], row['MesEstreno'], row['IdPelicula'])
    
    try:
        mycursor.execute(sql, values)
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

# Confirmar la inserción
cnx.commit()

print(f'Se han insertado los datos correctamente')
# Cerrar conexión
mycursor.close()
cnx.close()

Error: 1062 (23000): Duplicate entry 'tt29402528' for key 'peliculas.PRIMARY'
Error Code: 1062
SQLSTATE 23000
Message Duplicate entry 'tt29402528' for key 'peliculas.PRIMARY'
Error: 1062 (23000): Duplicate entry 'tt29538571' for key 'peliculas.PRIMARY'
Error Code: 1062
SQLSTATE 23000
Message Duplicate entry 'tt29538571' for key 'peliculas.PRIMARY'
Se han insertado los datos correctamente

## Insertamos datos tabla caracteristicas películas

In [6]:
#leemos el csv

df_caracteristicas_peliculas = pd.read_csv("archivo_final_actualizado.csv")  #cambiar el nombre del archivo

#Hacemos una lista con el nombre de las columnas actuales del data frame
columnas_actuales = df_caracteristicas_peliculas.columns.tolist()

#Definimos el nombre de las columnas
nuevos_nombres = ['PuntuacionIMDB', 'PuntuacionTomatoes', 'Directores', 'Guionistas', 'Argumento', 'Genero', 'DuracionMinutos', 'Nombre', 'idPelicula']

#Cambiamos el nombre de las columnas por la lista que hemos creado
df_caracteristicas_peliculas.columns = nuevos_nombres

#Eliminamos duplicados 
df_caracteristicas_peliculas = df_caracteristicas_peliculas.drop_duplicates()

# cambiamos en el dataframe la , por . lo convertimos en float y quitomos los errorer Nan

df_caracteristicas_peliculas['PuntuacionIMDB'] = df_caracteristicas_peliculas['PuntuacionIMDB'].str.replace(',', '.')
df_caracteristicas_peliculas['PuntuacionIMDB'] = df_caracteristicas_peliculas['PuntuacionIMDB'].fillna('Null').astype(float)
df_caracteristicas_peliculas['PuntuacionTomatoes'] = df_caracteristicas_peliculas['PuntuacionTomatoes'].fillna('Null').astype(float)
df_caracteristicas_peliculas['Directores'] = df_caracteristicas_peliculas['Directores'].fillna('Null')
df_caracteristicas_peliculas['Guionistas'] = df_caracteristicas_peliculas['Guionistas'].fillna('Null')
df_caracteristicas_peliculas['Argumento'] = df_caracteristicas_peliculas['Argumento'].fillna('Null')
df_caracteristicas_peliculas['Genero'] = df_caracteristicas_peliculas['Genero'].fillna('Null')
df_caracteristicas_peliculas['DuracionMinutos'] = df_caracteristicas_peliculas['DuracionMinutos'].fillna('Null')
df_caracteristicas_peliculas['Nombre'] = df_caracteristicas_peliculas['Nombre'].fillna('Null')

In [7]:
# Conectar a la base de datos
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='moviemakers')
mycursor = cnx.cursor()



#Iteramos por cada uno de los elementos

for index, row in df_caracteristicas_peliculas.iterrows():           
    sql = """
        INSERT INTO Peliculas_caracteristicas (PuntuacionIMDB, PuntuacionTomatoes, Directores, Guionistas, Argumento, Genero, DuracionMinutos, Nombre, idPelicula) 
        VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    values = (row['PuntuacionIMDB'], row['PuntuacionTomatoes'], row['Directores'], row['Guionistas'], row['Argumento'], row['Genero'], row['DuracionMinutos'] , row['Nombre'], row['idPelicula'])
    
    try:
        mycursor.execute(sql, values)
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

# Confirmar la inserción
cnx.commit()

print(f'Se han insertado los datos correctamente')
# Cerrar conexión
mycursor.close()
cnx.close()

Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Error: 1406 (22001): Data too long for column 'Nombre' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'Nombre' at row 1
Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'nan' in 'field list'
Se han insertado los datos correctamente

## Insertamos datos tabla Actores

In [8]:
#leemos el csv

df_actores = pd.read_csv("resultados_completos_F3_laura.csv", index_col = 0)  #cambiar el nombre del archivo

#Hacemos una lista con el nombre de las columnas actuales del data frame
columnas_actuales = df_actores.columns.tolist()

#Definimos el nombre de las columnas
nuevos_nombres = ['Nombre', 'AnioNacimiento', 'ConocidoPor', 'ActividadActual', 'Premios']

#Cambiamos el nombre de las columnas por la lista que hemos creado
df_actores.columns = nuevos_nombres

#Eliminamos duplicados 
df_actores = df_actores.drop_duplicates()

In [9]:
# Conectar a la base de datos
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='moviemakers')
mycursor = cnx.cursor()



#Iteramos por cada uno de los elementos

for index, row in df_actores.iterrows():           
    sql = """
        INSERT INTO actores (Nombre, AnioNacimiento, ConocidoPor, ActividadActual, Premios) 
        VALUES ( %s, %s, %s, %s, %s)
    """
    values = (row['Nombre'], row['AnioNacimiento'], row['ConocidoPor'], row['ActividadActual'], row['Premios'])
    
    try:
        mycursor.execute(sql, values)
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

# Confirmar la inserción
cnx.commit()

print(f'Se han insertado los datos correctamente')
# Cerrar conexión
mycursor.close()
cnx.close()

Error: 1062 (23000): Duplicate entry 'Tom Holland' for key 'actores.PRIMARY'
Error Code: 1062
SQLSTATE 23000
Message Duplicate entry 'Tom Holland' for key 'actores.PRIMARY'
Se han insertado los datos correctamente

## Insertamos datos tabla Actuaciones

In [10]:
#leemos el csv

df_actuaciones = pd.read_csv("tuplas_tabla_intermedia_F3_laura.csv", index_col = 0)  #cambiar el nombre del archivo

#Hacemos una lista con el nombre de las columnas actuales del data frame
columnas_actuales = df_actuaciones.columns.tolist()

#Definimos el nombre de las columnas
nuevos_nombres = ['IdPelicula', 'NombreActor']

#Cambiamos el nombre de las columnas por la lista que hemos creado
df_actuaciones.columns = nuevos_nombres

#Eliminamos duplicados 
df_actuaciones = df_actuaciones.drop_duplicates()

In [11]:
# Conectar a la base de datos
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='moviemakers')
mycursor = cnx.cursor()



#Iteramos por cada uno de los elementos

for index, row in df_actuaciones.iterrows():           
    sql = """
        INSERT INTO actuaciones (IdPelicula, NombreActor) 
        VALUES ( %s, %s)
    """
    values = (row['IdPelicula'], row['NombreActor'])
    
    try:
        mycursor.execute(sql, values)
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

# Confirmar la inserción
cnx.commit()

print(f'Se han insertado los datos correctamente')
# Cerrar conexión
mycursor.close()
cnx.close()

Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000
Message Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`moviemakers`.`actuaciones`, CONSTRAINT `actuaciones_ibfk_2` FOREIGN KEY (`NombreActor`) REFERENCES `actores` (`Nombre`))
Error Code: 1452
SQLSTATE 23000