In [1]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np


# importamos las librerías que necesitaremos
# Importar librería para trabajar con archivos JSON
# -----------------------------------------------------------------------
import json
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [2]:
#leemos el csv

df_oscars = pd.read_csv("CSV_JSON_F4/lista_tuplas_fase4.csv", index_col = 0)

#Hacemos una lista con el nombre de las columnas actuales del data frame
columnas_actuales = df_oscars.columns.tolist()

#Definimos el nombre de las columnas
nuevos_nombres = ['FechaCeremonia', 'MejorPelicula', 'MejorDirector', 'MejorActor', 'MejorActriz']

#Cambiamos el nombre de las columnas por la lista que hemos creado
df_oscars.columns = nuevos_nombres

In [3]:

# Conectar a la base de datos
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='moviemakers')
mycursor = cnx.cursor()



#Iteramos por cada uno de los elementos

for index, row in df_oscars.iterrows():
    sql = """
        INSERT INTO Oscars (FechaCeremonia, MejorPelicula, MejorDirector, MejorActor, MejorActriz) 
        VALUES ( %s, %s, %s, %s, %s)
    """
    values = (row['FechaCeremonia'], row['MejorPelicula'], row['MejorDirector'], row['MejorActor'], row['MejorActriz'])
    
    try:
        mycursor.execute(sql, values)
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

# Confirmar la inserción
cnx.commit()

print(f'Se han insertado los datos correctamente')
# Cerrar conexión
mycursor.close()
cnx.close()

Se han insertado los datos correctamente

In [ ]:
#leemos el csv

df_peliculas = pd.read_csv("CSV_JSON_F4/lista_tuplas_fase4.csv", index_col = 0)  #cambiar el nombre del archivo

#Hacemos una lista con el nombre de las columnas actuales del data frame
columnas_actuales = df_peliculas.columns.tolist()

#Definimos el nombre de las columnas
nuevos_nombres = ['Tipo', 'Nombre', 'AnioEstreno', 'MesEstreno', 'IdPelicula']

#Cambiamos el nombre de las columnas por la lista que hemos creado
df_peliculas.columns = nuevos_nombres

In [ ]:

# Conectar a la base de datos
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='moviemakers')
mycursor = cnx.cursor()



#Iteramos por cada uno de los elementos

for index, row in df_peliculas.iterrows():           
    sql = """
        INSERT INTO Peliculas (Tipo, Nombre, AnioEstreno, MesEstreno, IdPelicula) 
        VALUES ( %s, %s, %s, %s, %s)
    """
    values = (row['Tipo'], row['Nombre'], row['AnioEstreno'], row['MesEstreno'], row['IdPelicula'])
    
    try:
        mycursor.execute(sql, values)
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

# Confirmar la inserción
cnx.commit()

print(f'Se han insertado los datos correctamente')
# Cerrar conexión
mycursor.close()
cnx.close()

In [ ]:
#leemos el csv

df_caracteristicas_peliculas = pd.read_csv("CSV_JSON_F4/lista_tuplas_fase4.csv", index_col = 0)  #cambiar el nombre del archivo

#Hacemos una lista con el nombre de las columnas actuales del data frame
columnas_actuales = df_caracteristicas_peliculas.columns.tolist()

#Definimos el nombre de las columnas
nuevos_nombres = ['IdPelicula', 'PuntuacionIMDB', 'PuntuacionTomatoes', 'Directores', 'Guionistas', 'Genero', 'DuracionMinutos']

#Cambiamos el nombre de las columnas por la lista que hemos creado
df_caracteristicas_peliculas.columns = nuevos_nombres

In [ ]:
# Conectar a la base de datos
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='moviemakers')
mycursor = cnx.cursor()



#Iteramos por cada uno de los elementos

for index, row in df_caracteristicas_peliculas.iterrows():           
    sql = """
        INSERT INTO Peliculas_caracteristicas (IdPelicula, PuntuacionIMDB, PuntuacionTomatoes, Directores, Guionistas, Genero, DuracionMinutos) 
        VALUES ( %s, %s, %s, %s, %s, %s, %s)
    """
    values = (row['IdPelicula'], row['PuntuacionIMDB'], row['PuntuacionTomatoes'], row['Directores'], row['Guionistas'], row['Genero'], row['DuracionMinutos'] )
    
    try:
        mycursor.execute(sql, values)
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

# Confirmar la inserción
cnx.commit()

print(f'Se han insertado los datos correctamente')
# Cerrar conexión
mycursor.close()
cnx.close()

In [6]:
#leemos el csv

df_actores = pd.read_csv("prueba_insercion.csv", index_col = 0)  #cambiar el nombre del archivo

In [ ]:
#Hacemos una lista con el nombre de las columnas actuales del data frame
columnas_actuales = df_actores.columns.tolist()

#Definimos el nombre de las columnas
nuevos_nombres = ['Nombre', 'AnioNacimiento', 'ConocidoPor', 'ActividadActual', 'Premios']

#Cambiamos el nombre de las columnas por la lista que hemos creado
df_actores.columns = nuevos_nombres

In [7]:
df_actores

                    0
0       James Purefoy
1      David Arquette
2           Amy Smart
3      Frances Fisher
4    Mariel Hemingway
..                ...
100    Robert LaSardo
101       Rajinikanth
102     Vishnu Vishal
103    K.S. Ravikumar
104    Thambi Ramaiah

[104 rows x 1 columns]

In [ ]:
# Conectar a la base de datos
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='moviemakers')
mycursor = cnx.cursor()



#Iteramos por cada uno de los elementos

for index, row in df_actores.iterrows():           
    sql = """
        INSERT INTO Peliculas_caracteristicas (Nombre, AnioNacimiento, ConocidoPors, ActividadActual, Premios) 
        VALUES ( %s, %s, %s, %s, %s)
    """
    values = (row['Nombre'], row['AnioNacimiento'], row['ConocidoPor'], row['ActividadActual'], row['Premios'])
    
    try:
        mycursor.execute(sql, values)
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

# Confirmar la inserción
cnx.commit()

print(f'Se han insertado los datos correctamente')
# Cerrar conexión
mycursor.close()
cnx.close()

In [ ]:
#leemos el csv

df_actuaciones = pd.read_csv("CSV_JSON_F4/lista_tuplas_fase4.csv", index_col = 0)  #cambiar el nombre del archivo

#Hacemos una lista con el nombre de las columnas actuales del data frame
columnas_actuales = df_actuaciones.columns.tolist()

#Definimos el nombre de las columnas
nuevos_nombres = ['IdPelicula', 'NombreActor']

#Cambiamos el nombre de las columnas por la lista que hemos creado
df_actuaciones.columns = nuevos_nombres

In [ ]:
# Conectar a la base de datos
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='moviemakers')
mycursor = cnx.cursor()



#Iteramos por cada uno de los elementos

for index, row in df_actuaciones.iterrows():           
    sql = """
        INSERT INTO Peliculas_caracteristicas (IdPelicula, NombreActor) 
        VALUES ( %s, %s)
    """
    values = (row['IdPelicula'], row['NombreActor'])
    
    try:
        mycursor.execute(sql, values)
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

# Confirmar la inserción
cnx.commit()

print(f'Se han insertado los datos correctamente')
# Cerrar conexión
mycursor.close()
cnx.close()